body {
    background: white;
}

.owl-wrapper {
    /*width: :15%;*/
    height: 100%;
}

.centrar-table {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.owl-carousel {
    height: 100%;
}

.owl-item {
    height: 100%;
}

.owl-wrapper-outer {
    height: 100%;
}

.owl-wrapper {
    height: 100%;
}

.image1 {
    background-image: url('../images/fondo7.png');
    /*-webkit-filter: contrast(50%);*/
    /*background-color: rgba(192,192,192,1);*/
    /*-webkit-filter: brightness(70%);*/
    filter: brightness(85%);
    background-position: 50% 65%;
}


/*-----------------------------------------------------------
-----------------------preloader---------------------------*/

.fly-in-text li {
    display: inline-block;
    padding-bottom: 8 0;
    font-weight: 300;
    font-size: 4.1em;
    color: #929183;
    opacity: 1;
    /*transition: all 2.5s ease;*/
}

    .fly-in-text li:last-child {
        margin-right: 0;
    }

.fly-in-text.hidden1 li {
    opacity: 0;
}

    .fly-in-text.hidden1 li:nth-child(1) {
        transform: translateX(-200px) translateY(-200px);
    }

    .fly-in-text.hidden1 li:nth-child(2) {
        transform: translateX(20px) translateY(100px);
    }

    .fly-in-text.hidden1 li:nth-child(3) {
        transform: translateX(-150px) translateY(-80px);
    }

    .fly-in-text.hidden1 li:nth-child(4) {
        transform: translateX(10px) translateY(-200px);
    }

    .fly-in-text.hidden1 li:nth-child(5) {
        transform: translateX(-300px) translateY(200px);
    }

    .fly-in-text.hidden1 li:nth-child(6) {
        transform: translateX(20px) translateY(-20px);
    }

    .fly-in-text.hidden1 li:nth-child(7) {
        transform: translateX(30px) translateY(200px);
    }

    .fly-in-text.hidden1 li:nth-child(8) {
        transform: translateX(-50px) translateY(300px);
    }

    .fly-in-text.hidden1 li:nth-child(9) {
        transform: translateX(320px) translateY(190px);
    }

#intro {
    list-style: none;
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.letras-logo {
    font-size: 200px;
}

.centrar-servicio {
    width: 80%;
    height: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.centrar-contacto {
    width: 80%;
    height: 69%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.fly-in-text {
    padding: 0px;
}


.centrar-QuienSomos {
    width: 80%;
    height: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (min-width: 320px) {
    .fly-in-text li {
        font-size: 1.9em;
    }
}

@media only screen and (min-width: 768px) {
    .fly-in-text li {
        font-size: 3.5em;
    }

    .letras-logo {
        font-size: 250px;
    }
}

@media only screen and (max-width: 768px) {
    #contact-area .form-group textarea {
        height: 90px;
    }

    #contactenos-cont {
        display: none;
    }

    .centrar-contacto {
        height: 80%;
    }

    .centrar-servicio {
        height: 80%;
    }

    .centrar-QuienSomos {
        height: 70%;
    }

    .page-footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .footer-text {
        font-size: 14px;
    }



    .quitar a {
        font-size: 14px;
    }
}

@media only screen and (max-width: 425px) {

    .contenido-servicios {
        display: none;
    }

    .ocultar-info {
        display: none;
    }

    .imag-quienesSomos {
        display: none;
    }
}


.active a {
    background-color: #D40A18 !important;
}

.section-header p {
    color: black;
    font-weight: 300px;
    font-size: 17px;
}


.paginas {
    margin: 0 auto;
}

.page-footer label {
    margin: 0px;
}

.paginas a {
    float: right;
    width: 19px;
    height: 19px;
    margin-right: 5px;
    margin-left: : 5px;
    text-decoration: none;
    /*color: #AFAEAE;*/
    background-color: rgba(255, 255, 255, 0.0) !important;
    color: #37617C;
    background-image: url('../images/iconos.svg');
}

.paginas .facebook {
    background-position: -26px -4px;
}

.paginas .youtube {
    background-position: -26px -33px;
}

.paginas .googleplus {
    background-position: -27px -62px;
}


.page-footer {
    /*background-color: #05939D;*/
    /*background-color: rgba(248,248,248,0.8);*/
    /*background-color: #BBAC97;*/
    /*background-color: #C6B397;*/
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: #474747;
    border-radius: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 2;
}

.footer-content {
    text-align: center;
}

.footer-text {
    color: #FFFFFF;
    /*color: #454545;*/
    font-size: 11px;
}

.page-footer span {
    color: #C3C3C3;
    /*color: #454545;*/
}

.quitar a {
    text-decoration: none;
    color: #FFFFFF;
    /*color: #454545;*/
    font-size: 11px;
}





@media only screen and (min-width: 1024px) {
    .center-content {
        margin: 0 auto;
        width: 980PX;
    }
    /*footer*/
    .footer-content {
        display: flex;
    }

        .footer-content div {
            width: 33.33%;
            margin: auto;
        }
}

.desarrollado a {
    background-color: rgba(255, 255, 255, 0.0) !important;
}

.quitar {
    display: flex;
}

.message {
    height: 100px;
}

#section1 {
    background: url(../Images/Fondo.svg);
}
