<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="correo" value="notifications@consultoriocc.com"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.net>

    <mailSettings>
      <smtp from="notifications@consultoriocc.com" deliveryMethod="Network">
        <network host="mail.consultoriocc.com" password="notifications!123" port="25" userName="notifications@consultoriocc.com" />
      </smtp>
    </mailSettings>
  </system.net>




</configuration>
